<footer class='footer'>
  <div class='footer-col'>
    <p class='footer-meta'>
      <span>{{t.releasedUnder}}</span>
      <a href='https://github.com/onza/DropSlim/blob/main/LICENSE'>{{t.mitLicense}}</a>
    </p>
    <p class='footer-meta'>
      <span>© 2026</span>
      <a href='https://www.websites-graphix.com/' target='_blank' rel='noopener noreferrer'>Websites
        &amp; Graphix.<span class='visually-hidden'>{{t.opensInNewTab}}</span></a>
      <span>{{t.allRightsReserved}}</span>
    </p>
  </div>
  <nav class='footer-nav' aria-label='{{t.legalAria}}'>
    <a href='{{paths.legalNotice}}'>{{t.legalNotice}}</a>
    <a href='{{paths.privacy}}'>{{t.privacyPolicy}}</a>
  </nav>
</footer>